venv/*
**/__pycache__/*
evals_live/*
evals_archive/*
.cache/*
logs/
scripts/
.DS_Store
app_old.py
creators.md
cost_explanation.md
benchmark_submission.md
config.py
utils/db_old.py
.env
corebench_archive/*
test/*
updates/*
preprocessed_traces_old/*
analysis.ipynb
scratch.py
delete_json_files.py
hal-harness/
hal_traces/
*.txt
*.sh
!static/downloads/*.sh
*.csv
!preprocessed_traces/
!preprocessed_traces/*.csv
.vscode/*
figs/*
latex_sections/*
task_heatmap_data/*
preprocessed_traces/bis/*
inspectLogTemp/*

